.version.index /* version checker */
{
	color: #0000FD;
	background-color: #48E0B6;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#pu422
{
	margin-right: -10000px;
	width: 533.34%;
	margin-left: -138.52%;
}

#u422
{
	z-index: 2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 974px;
	width: 33.7%;
	left: 18.51%;
}

#u662
{
	z-index: 4;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 43.91%;
	left: 13.41%;
}

#u669
{
	z-index: 6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 925px;
	width: 4%;
	left: 26.1%;
}

#u672
{
	z-index: 8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 925px;
	width: 4%;
	left: 35.8%;
}

#u674
{
	z-index: 10;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 925px;
	width: 4%;
	left: 30.96%;
}

#u676
{
	z-index: 12;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 925px;
	width: 4%;
	left: 40.66%;
}

#u681-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 831px;
	width: 3.03%;
	left: 26.32%;
}

#u682
{
	z-index: 18;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1329px;
	width: 4%;
	left: 26.1%;
}

#u685
{
	z-index: 20;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1329px;
	width: 4%;
	left: 35.8%;
}

#u687
{
	z-index: 22;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1329px;
	width: 4%;
	left: 30.96%;
}

#u689
{
	z-index: 24;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1329px;
	width: 4%;
	left: 40.66%;
}

#u694
{
	z-index: 26;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1779px;
	width: 4%;
	left: 26.1%;
}

#u697
{
	z-index: 28;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1779px;
	width: 4%;
	left: 35.8%;
}

#u699
{
	z-index: 30;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1779px;
	width: 4%;
	left: 30.96%;
}

#u701
{
	z-index: 32;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1779px;
	width: 4%;
	left: 40.66%;
}

#u706-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1721px;
	width: 2.68%;
	left: 26.32%;
}

#u805
{
	z-index: 40;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 358px;
	width: 4%;
	left: 26.17%;
}

#u807-4
{
	z-index: 42;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	width: 4%;
	left: 26.17%;
}

#u808
{
	z-index: 46;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 358px;
	width: 4%;
	left: 35.87%;
}

#u810
{
	z-index: 48;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 358px;
	width: 4%;
	left: 31.03%;
}

#u812
{
	z-index: 50;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 358px;
	width: 4%;
	left: 40.73%;
}

#u817-6
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	width: 2.5%;
	left: 34.19%;
}

#u867-4
{
	z-index: 58;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	width: 4%;
	left: 31.03%;
}

#u870-4
{
	z-index: 62;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	width: 4%;
	left: 35.87%;
}

#u873-4
{
	z-index: 66;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	width: 4%;
	left: 40.73%;
}

#u876-4
{
	z-index: 70;
	position: relative;
	margin-right: -10000px;
	margin-top: 1270px;
	width: 4%;
	left: 26.1%;
}

#u879-4
{
	z-index: 74;
	position: relative;
	margin-right: -10000px;
	margin-top: 1270px;
	width: 4%;
	left: 30.96%;
}

#u882-4
{
	z-index: 78;
	position: relative;
	margin-right: -10000px;
	margin-top: 1270px;
	width: 4%;
	left: 35.8%;
}

#u885-4
{
	z-index: 82;
	position: relative;
	margin-right: -10000px;
	margin-top: 1270px;
	width: 4%;
	left: 40.66%;
}

#u888-4
{
	z-index: 86;
	position: relative;
	margin-right: -10000px;
	margin-top: 1674px;
	width: 4%;
	left: 26.1%;
}

#u891-4
{
	z-index: 90;
	position: relative;
	margin-right: -10000px;
	margin-top: 1674px;
	width: 4%;
	left: 30.96%;
}

#u894-4
{
	z-index: 94;
	position: relative;
	margin-right: -10000px;
	margin-top: 1674px;
	width: 4%;
	left: 35.8%;
}

#u897-4
{
	z-index: 98;
	position: relative;
	margin-right: -10000px;
	margin-top: 1674px;
	width: 4%;
	left: 40.66%;
}

#u900-4
{
	z-index: 102;
	position: relative;
	margin-right: -10000px;
	margin-top: 2124px;
	width: 4%;
	left: 26.1%;
}

#u903-4
{
	z-index: 106;
	position: relative;
	margin-right: -10000px;
	margin-top: 2124px;
	width: 4%;
	left: 30.96%;
}

#u906-4
{
	z-index: 110;
	position: relative;
	margin-right: -10000px;
	margin-top: 2124px;
	width: 4%;
	left: 35.8%;
}

#u909-4
{
	z-index: 114;
	position: relative;
	margin-right: -10000px;
	margin-top: 2124px;
	width: 4%;
	left: 40.66%;
}

#u912
{
	z-index: 118;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u921-4
{
	z-index: 120;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	width: 2.45%;
	left: 33.7%;
}

#u922-4
{
	z-index: 124;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	width: 1.41%;
	left: 31.62%;
}

#u923-4
{
	z-index: 128;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	width: 1.76%;
	left: 36.83%;
}

#u938-4
{
	z-index: 132;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 2.78%;
	left: 26.32%;
}

#u807-4_img,#u867-4_img,#u870-4_img,#u873-4_img,#u876-4_img,#u879-4_img,#u882-4_img,#u885-4_img,#u888-4_img,#u891-4_img,#u894-4_img,#u897-4_img,#u900-4_img,#u903-4_img,#u906-4_img,#u909-4_img,#u921-4_img,#u922-4_img,#u923-4_img,#u938-4_img
{
	display: block;
	vertical-align: top;
	width: 100%;
}

#u946-4
{
	z-index: 136;
	min-height: 65px;
	background-color: transparent;
	font-size: 46px;
	line-height: 55px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	width: 17.82%;
	left: 26.43%;
}

#u949-4
{
	z-index: 140;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	width: 11.74%;
	left: 29.57%;
}

#u949
{
	color: #7F7F7F;
}

#u952-4
{
	z-index: 144;
	min-height: 19px;
	background-color: transparent;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	width: 10.2%;
	left: 30.25%;
}

#u707
{
	z-index: 38;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -20px;
	width: 607.41%;
	left: -243.25%;
}

#u422_img,#u662_img,#u669_img,#u672_img,#u674_img,#u676_img,#u682_img,#u685_img,#u687_img,#u689_img,#u694_img,#u697_img,#u699_img,#u701_img,#u805_img,#u808_img,#u810_img,#u812_img,#u912_img,#u707_img
{
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 1px;
}

