	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1160px;
		min-height: 418px;
		padding-left: 20px;
		padding-top: 20px;
		padding-right: 20px;
	}

	#u98
	{
		z-index: 34;
		top: 24px;
		right: 131px;
	}

	#pu511-4
	{
		width: 0.01px;
		margin-left: 152px;
		margin-top: 12px;
	}

	#u511-4
	{
		z-index: 18;
		width: 129px;
		min-height: 14px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		background-color: #F7931E;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: -1px;
		position: relative;
		margin-right: -10000px;
	}

	#u512-4
	{
		z-index: 22;
		width: 205px;
		min-height: 28px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		background-color: #F7931E;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: -1px;
		position: relative;
		margin-right: -10000px;
		left: 225px;
	}

	#u513-4
	{
		z-index: 26;
		width: 155px;
		min-height: 28px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		background-color: #F7931E;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: -1px;
		position: relative;
		margin-right: -10000px;
		left: 526px;
	}

	#u514-4
	{
		z-index: 30;
		width: 107px;
		min-height: 28px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		background-color: #F7931E;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: -1px;
		position: relative;
		margin-right: -10000px;
		left: 777px;
	}

	#u512,#u513,#u514
	{
		font-size: 24px;
	}

	#u102-4
	{
		width: 536px;
		margin-top: 43px;
	}

	#u227-4
	{
		width: 474px;
		margin-top: 18px;
	}

	#u164
	{
		width: 1160px;
		min-height: 577px;
		margin-top: 18px;
	}

	body
	{
		min-width: 1200px;
	}

