	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1122px;
		max-width: 1200px;
	}

	#page_position_content
	{
		padding-bottom: 273px;
		width: 100%;
	}

	#u331,#u331-bw
	{
		height: 53px;
	}

	#u316
	{
		min-height: 442px;
		position: relative;
		margin-right: -10000px;
		width: 63.42%;
	}

	#u535
	{
		margin-right: -10000px;
		margin-top: -2px;
		width: 24.09%;
		left: 76.25%;
	}

	#pu316,#u535_img
	{
		width: 100%;
	}

	#u337-4
	{
		left: -1px;
		margin-top: 2px;
	}

	#u552-4
	{
		min-height: 34px;
		font-size: 30px;
		line-height: 36px;
		margin-top: 14px;
		width: 99.67%;
		margin-left: 0.34%;
	}

	#u545-4
	{
		margin-top: 19px;
	}

	#u561-4
	{
		min-height: 26px;
		line-height: 22px;
		font-size: 18px;
		text-align: left;
		margin-top: 25px;
		width: 99.67%;
		margin-left: 0.34%;
	}

	#u621-4
	{
		font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
		margin-top: 11px;
		width: 99.67%;
		margin-left: 0.34%;
	}


