.version.index /* version checker */
{
	color: #00000C;
	background-color: #FE8DD7;
}

#page
{
	min-height: 438px;
	border-width: 0px;
	margin-right: auto;
	background-color: transparent;
	background-image: none;
	width: 100%;
	border-color: #000000;
	z-index: 1;
	margin-left: auto;
	padding-bottom: 62px;
}

#u260-7
{
	font-size: 30px;
	color: #FFFFFF;
	line-height: 36px;
	min-height: 42px;
	background-color: transparent;
	width: 112px;
	position: relative;
}

#u260-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u260,#u260-3
{
	line-height: 36px;
}

#u260-2,#u260-4
{
	font-size: 22px;
	line-height: 26px;
}

#u256-4
{
	font-size: 24px;
	color: #000000;
	width: 129px;
	border-color: #000000;
	position: relative;
	background-color: #F7931E;
	line-height: 29px;
	border-width: 1px;
	border-style: solid;
	min-height: 14px;
}

#u258-4
{
	font-size: 24px;
	border-style: solid;
	line-height: 29px;
	border-width: 1px;
	position: relative;
	background-color: #F7931E;
	width: 155px;
	border-color: #000000;
	min-height: 28px;
}

#u253-4
{
	min-height: 27px;
	color: #FFFFFF;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
}

#pu257-4
{
	margin-right: -10000px;
}

#u257-4
{
	font-size: 24px;
	border-color: #000000;
	line-height: 29px;
	border-width: 1px;
	position: relative;
	background-color: #F7931E;
	width: 205px;
	border-style: solid;
	min-height: 28px;
}

#u259-4
{
	font-size: 24px;
	border-style: solid;
	line-height: 29px;
	border-width: 1px;
	position: relative;
	background-color: #F7931E;
	width: 107px;
	border-color: #000000;
	min-height: 28px;
}

#u258,#u257,#u259
{
	font-size: 24px;
}

#u241
{
	border-width: 0px;
	position: relative;
	background-color: transparent;
	border-color: transparent;
}

#u249
{
	border-width: 0px;
	position: relative;
	background-color: transparent;
	border-color: transparent;
	min-height: 35px;
}

#u261
{
	border-color: transparent;
	max-width: 36px;
	border-width: 0px;
	position: fixed;
	background-color: transparent;
	top: 20px;
	min-height: 42px;
}

.html
{
	background-color: #36373A;
}

body
{
	position: relative;
}

@media (min-width: 491px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1200px;
	}

	#u260-7
	{
		z-index: 25;
		margin-right: -10000px;
		margin-top: 20px;
		left: 1.67%;
	}

	#u253-4
	{
		z-index: 5;
		font-size: 30px;
		line-height: 36px;
		margin-top: 314px;
		left: 20px;
		width: 79%;
	}

	#pu257-4
	{
		margin-top: 102px;
		width: 40.34%;
		margin-left: 1.67%;
	}

	#u257-4
	{
		z-index: 13;
		margin-left: 15.09%;
	}

	#u258-4
	{
		z-index: 17;
		margin-top: 12px;
		margin-left: 35.34%;
	}

	#u259-4
	{
		z-index: 21;
		margin-top: 19px;
		margin-left: 35.34%;
	}

	#u256-4
	{
		z-index: 9;
		margin-top: 17px;
		margin-left: 35.34%;
	}

	#u241
	{
		z-index: 3;
		min-height: 28px;
		margin-top: 77px;
		width: 65.91%;
	}

	#u249
	{
		z-index: 4;
		margin-top: 21px;
		width: 65.91%;
	}

	#u320
	{
		z-index: 2;
		width: 484px;
		min-height: 272px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-top: 8px;
		position: relative;
	}

	#u261
	{
		z-index: 32;
		right: 36px;
		width: 3%;
	}

}

@media (min-width: 361px) and (max-width: 490px)
{
	#muse_css_mq
	{
		background-color: #0001ea;
	}

	#bp_490.active
	{
		display: block;
	}

	#page
	{
		max-width: 490px;
	}

	#u260-7
	{
		z-index: 24;
		margin-right: -10000px;
		margin-top: 20px;
		left: 1.64%;
	}

	#u253-4
	{
		z-index: 4;
		width: 387px;
		font-size: 12px;
		line-height: 14px;
		margin-top: 266px;
		left: 24px;
	}

	#pu257-4
	{
		padding-bottom: 0px;
		margin-top: 76px;
		width: 74.29%;
		margin-left: 4.9%;
	}

	#u257-4
	{
		z-index: 12;
		margin-left: 4.95%;
	}

	#u258-4
	{
		z-index: 16;
		margin-top: 16px;
		margin-left: 4.95%;
	}

	#u259-4
	{
		z-index: 20;
		margin-top: 15px;
		margin-left: 4.95%;
	}

	#u256-4
	{
		z-index: 8;
		margin-top: 16px;
		margin-left: 4.95%;
	}

	#u420
	{
		z-index: 32;
		width: 364px;
		min-height: 107px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-top: 65px;
		position: relative;
	}

	#u241
	{
		z-index: 2;
		width: 214px;
		min-height: 28px;
		margin-top: 19px;
	}

	#u249
	{
		z-index: 3;
		margin-top: 18px;
		width: 35.72%;
	}

	#u261
	{
		z-index: 31;
		right: 15px;
		width: 7.35%;
	}

}

@media (max-width: 360px)
{
	#muse_css_mq
	{
		background-color: #000168;
	}

	#bp_360.active
	{
		display: block;
	}

	#page
	{
		max-width: 360px;
	}

	#pu260-7
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 20px;
		width: 47.23%;
		margin-left: 1.67%;
	}

	#u260-7
	{
		z-index: 24;
	}

	#u256-4
	{
		z-index: 8;
		margin-top: 53px;
		margin-left: 8.24%;
	}

	#u258-4
	{
		z-index: 16;
		margin-top: 14px;
		margin-left: 7.65%;
	}

	#u253-4
	{
		z-index: 4;
		width: 387px;
		font-size: 14px;
		margin-top: 228px;
		left: 20px;
	}

	#pu257-4
	{
		margin-top: 69px;
		width: 88.62%;
		margin-left: 5.28%;
	}

	#u257-4
	{
		z-index: 12;
		margin-left: 35.11%;
	}

	#u259-4
	{
		z-index: 20;
		margin-top: 14px;
		margin-left: 65.84%;
	}

	#u241
	{
		z-index: 2;
		width: 256px;
		min-height: 41px;
		margin-top: 136px;
		margin-left: 0.32%;
	}

	#u518
	{
		z-index: 32;
		width: 300px;
		min-height: 116px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-top: 22px;
		position: relative;
	}

	#u249
	{
		z-index: 3;
		margin-top: 27px;
		width: 30.1%;
	}

	#u261
	{
		z-index: 31;
		right: 5px;
		width: 10%;
	}

	body
	{
		min-width: 320px;
	}

}

