	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 727.85px;
		padding-bottom: 0px;
		max-width: 1200px;
	}

	#page_position_content
	{
		padding-bottom: 62px;
		width: 100%;
	}

	#u331,#u331-bw
	{
		height: 53px;
	}

	#u316
	{
		min-height: 442px;
		position: relative;
		width: 63.42%;
	}

	#u337-4
	{
		left: -1px;
		margin-top: 2px;
	}

	#u552-4
	{
		min-height: 34px;
		font-size: 30px;
		line-height: 36px;
		margin-top: 14px;
		width: 99.67%;
		margin-left: 0.34%;
	}

	#u545-4
	{
		width: 235px;
		margin-top: 19px;
	}


